.flex{
    display: flex;
}
.between{
    display: flex;
    justify-content: space-between;
}
.btn {
    outline: none;
    border: none;
}
.a{
    text-decoration: none;
}
.colum{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.col-3{
    width: 30%;
}
.orange{
    color: #F7654A;
}
.c{
    color: #999999;
}
.w{
    color: black;
}
.bottom{
    margin-bottom: 150px;
}